<section id="login-msg-box" class="msg-box">
    <%= flash[:login_error] if flash[:login_error]%>
</section>

<%= form_for @user, url: login_path, method: :post do |f| %>
    <%= f.text_field :username, placeholder: "Username" %><br>
    <%= f.password_field :password, placeholder: "Password" %><br>
    <%= f.submit "Log In" %>
<% end %>

OR <%= link_to 'Sign Up', new_user_path %><br>
<%= link_to 'Log in with Spotify', authentication_path %>