<main>   
    <section id="signup-msg-box" class="msg-box">
        <% if flash[:signup_error] %>
            <ul>
            <% flash[:signup_error].each do |error| %>
                <li><%= error %>
            <% end %>
            </ul>
        <% end %>
    </section>
    
    <section class="registration-form">
        <%= form_for @user do |f| %>
            <%= f.text_field :username, placeholder: "Username" %><br>
            <%= f.password_field :password, placeholder: "Password" %><br>
            <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br>
            <%= f.submit 'Sign Up' %>
        <% end %>

        OR <%= link_to 'Log In', login_path %><br>
        <%= link_to 'Log in with Spotify', authentication_path %>
    </section>
</main>