<div class="welcome-image">
  <main class="setup-wrapper" id="setup-wrapper-new">
    <%= render 'header_index' %>
    <header class="setup-title">
        <h2>Edit report</h2>
        <hr>
    </header>
    <%= render 'report_errors' %>
    <section class="setup-report-container">
        <%= form_for @report, url: user_report_path(current_user), method: 'put' do |f| %>
            <%= render partial: 'form', locals: {f: f} %>
            <%= f.file_field :attachment %>
            <%= f.hidden_field :attachment_cache %>
            <%= content_tag :p, "(Existing file: #{@original_report_name || @report.attachment.identifier})" %>
            <hr>
            <%= f.submit "UPDATE REPORT" %>
        <% end %>
        <%= link_to 'CANCEL', user_reports_path(current_user), class: "txt-cancel" %>
        </section>
    </main>
</div>